

<h1>Reservations for <%= current_user.name %> </h1>
  
<br>
<br>
<table class="table">
  <thead>
    <tr>
      <th>Start date and time</th>
      <th>End date and time</th>
      <th>Duration</th>
      <th>Device ID</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <%- user = User.find(current_user.id) -%>
    <%- @reservations.each  do |reservation| -%>
    <tr> 
      <td><%= reservation.start_at.strftime("%d %b %y"", " "%H"":""%M") %></td>
      <td><%= reservation.end_at.strftime("%d %b %y"", " "%H"":""%M") %></td>
      <td><%= ((reservation.start_at_time.to_f - reservation.end_at_time.to_f) / 3600).round %></td>
      <td><%= reservation.device_id %></td>
      <%- if reservation.cancelled? -%>
      <td>Cancelled</td>
      <%- else -%>
      <td><%= button_to "Cancel", cancel_reservation_path(reservation) %></td>
      <%- end -%>
    </tr>
    <%- end -%>
  </tbody>
</table>

