<!DOCTYPE html>
<html>
<head>
  <title>QueensBookings</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render_flash %>
<%= yield %>

<body>
<div class="navbar navbar-fixed-top">  
  <div class="navbar-inner">  
    <div class="container">  
    <ul class="nav">  
  <li class="active">  
    <a class="brand" href="#">QUB</a>  
  </li>  
  <li><a href="#"><%= link_to "New Reservation", new_reservation_path =%></a></li>  
  <li><a href="#"><%= link_to "My Reservations", reservations_path =%></a></li>
  <li><a href="#"><%= link_to "Help", help_path =%></a></li>    
</ul>  

<ul class="nav pull-right">
  <li><a href="#"><%= link_to "Sign Out", destroy_user_session_path, :method => "delete" =%></a></li>

    </div>  
  </div>  
</div>  

</body>
</html>
